@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,700;0,800;1,500;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');

.info {
	display: flex;
	width: 1920px;
	height: 1196px;
	font-family: 'Nunito', 'Open Sans';
}

.info--left {
	display: flex;
	flex-direction: column;
}

.info--photo {
	width: 923px;
	height: 996px;
}

.info--quote {
	margin-top: 80px;
	margin-left: 10px;
	font-family: 'Nunito';
	font-style: italic;
	font-weight: 800;
	font-size: 26px;
	line-height: 35px;
}

.info--quote-small {
	margin-top: 15px;
	margin-left: 10px;
	font-family: 'Nunito';
	font-style: italic;
	font-weight: 500;
	font-size: 24px;
	line-height: 33px;
	color: #e5e6e8;
}

.info--header {
	border-bottom: 1px solid rgba(185, 180, 196, 0.3);
	height: 84px;
	width: 999px;
	margin: 0;
}

.header-text {
	padding-top: 30px;
	padding-left: 48px;
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}

.input-field {
	height: 270px;
	width: 775px;
	margin-top: 85px;
}

.input-group {
	width: 775px;
	height: 100%;
	margin-left: 48px;
}

.input-div {
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgba(185, 180, 196, 0.3);
	height: 25%;
	width: 775px;
	padding: 8px 16px;
}

.input {
	height: 46px;
	width: 775px;
	border: none;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
	outline: none;
	padding: 5px;
}

.input-red {
	position: absolute;
	background: #ffefef;
	color: #dc3545;
	height: 46px;
	width: 752px;
	border: none;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
	outline: none;
	padding: 5px;
}

.input-span {
	position: relative;
}

.input-span::after {
	content: '*';
	position: absolute;
	left: 50px;
	top: 20px;
	color: red;
}

.input::placeholder {
	color: #212529;
}

.input:focus,
.input:active {
	outline: none;
	background-color: #e9ecef;
}

.name-alert {
	position: absolute;
	display: flex;
	flex-direction: column;
	color: red;
	top: 150px;
	left: 1520px;
	width: 350px;
	height: 87px;
	background: rgba(255, 255, 255, 0.85);
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

.email-alert {
	position: absolute;
	display: flex;
	flex-direction: column;
	color: red;
	top: 250px;
	left: 1520px;
	width: 350px;
	height: 87px;
	background: rgba(255, 255, 255, 0.85);
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

.phone-alert {
	position: absolute;
	display: flex;
	flex-direction: column;
	color: red;
	top: 350px;
	left: 1520px;
	width: 350px;
	height: 87px;
	background: rgba(255, 255, 255, 0.85);
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

.alert-div {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
	height: 45px;
	border-bottom: 1px solid rgba(185, 180, 196, 0.3);
	color: #dc3545;
}

.alert-header {
	padding: 5px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
}

.alert-text {
	display: flex;
	flex-direction: row;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #212529;
	margin-left: 7px;
	margin-top: 5px;
}

.exclamation {
	color: red;
}
.icon {
	position: absolute;
	margin-left: 710px;
	color: #3baf77;
	height: 20px;
}

.pagination {
	display: flex;
	margin-top: 135px;
	margin-left: 48px;
	height: 100px;
	width: 100%;
}

.back-div {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px black solid;
	width: 128px;
	height: 53px;
	border-radius: 8px;
}

.next-div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border: 1px black solid;
	margin-left: 550px;
	width: 128px;
	height: 53px;
	background-color: #212529;
	border-radius: 8px;
}

.back {
	color: #212529;
	text-decoration: none;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 27px;
	padding: 13px 40px;
}

.next {
	text-decoration: none;
	color: #ffffff;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 27px;
	padding: 13px 40px;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
}

.info--asterisk-name {
	margin-right: 695px;
	color: red;
	font-size: 16px;
}

.info--asterisk-mail {
	margin-right: 620px;
	color: red;
	font-size: 16px;
}

.info--asterisk-phone {
	margin-right: 615px;
	color: red;
	font-size: 16px;
}

.info--asterisk-dob {
	margin-right: 630px;
	color: red;
	font-size: 16px;
}

.rules-div-name {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	width: 200px;
	height: 30px;
	margin-left: 625px;
	color: red;
	font-size: 15px;
	font-family: 'Nunito', 'Open Sans';
}

.rules-name {
	color: red;
	font-size: 15px;
	font-family: 'Nunito', 'Open Sans';
}

.rules-div-email {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	width: 200px;
	height: 30px;
	margin-left: 625px;
	margin-top: 20px;
	color: red;
	font-size: 15px;
	font-family: 'Nunito', 'Open Sans';
}

.rules-email {
	color: red;
	font-size: 15px;
	font-family: 'Nunito', 'Open Sans';
}

.rules-div-phone {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	width: 200px;
	height: 30px;
	margin-left: 625px;
	margin-top: 40px;
	color: red;
	font-size: 15px;
	font-family: 'Nunito', 'Open Sans';
}

.rules-phone {
	color: red;
	font-size: 15px;
	font-family: 'Nunito', 'Open Sans';
}
